<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link href="{% static 'modeling/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
    <link href="{% static 'modeling/css/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'modeling/img/favicon.ico'%}" type="image/x-icon">
    <title>Em Gray Media</title>
  </head>
  <body>
    <!-- NAVBAR
    ================================================== -->
      {%for nav in nav%}
        <div class="navbar-wrapper">
          <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Em Gray Media</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/about">{{nav.about_1}}</a></li>
                        <li><a href="/about#being_body_positive">{{nav.about_2}}</a></li>
                        <li><a href="/about#my_camera">{{nav.about_3}}</a></li>
                        <li><a href="/about#editing_photos">{{nav.about_4}}</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-header">{{nav.portfolio_header_1}}</li>
                        <li><a href="/album/{{nav.portfolio_1_action_1.id}}">{{nav.portfolio_1_action_1.album_name}}</a></li>
                        <li><a href="/album/{{nav.portfolio_1_action_2.id}}">{{nav.portfolio_1_action_2.album_name}}</a></li>
                        <li><a href="/modeling">View All →</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">{{nav.portfolio_header_2}}</li>
                        <li><a href="/album/{{nav.portfolio_2_action_1.id}}">{{nav.portfolio_2_action_1.album_name}}</a></li>
                        <li><a href="/album/{{nav.portfolio_2_action_2.id}}">{{nav.portfolio_2_action_2.album_name}}</a></li>
                        <li><a href="/collaborations">View All →</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">{{nav.portfolio_header_3}}</li>
                        <li><a href="/album/{{nav.portfolio_3_action_1.id}}">{{nav.portfolio_3_action_1.album_name}}</a></li>
                        <li><a href="/album/{{nav.portfolio_3_action_2.id}}">{{nav.portfolio_3_action_2.album_name}}</a></li>
                        <li><a href="/photography">View All →</a></li>
                      </ul>
                    </li>
                    <li><a href="/book">Book Now</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="active"><a href="/account">Account</a></li>
                  </ul>
                </div>
              </div>
            </nav>

          </div>
        </div>
        {%endfor%}

        <div class="container marketing">
          <br><br><br>
          <div class="jumbotron">
            <div class="row">
              <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                <img src="https://www.svgimages.com/svg-image/s5/man-passportsize-silhouette-icon-256x256.png" alt="stack photo" class="img">
              </div>
              <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                <div class="container" style="border-bottom:1px solid black">
                  <h2>{{first}} {{last}} ({{username}})</h2>
                </div>
                <hr>
                <ul class="container details">
                  <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>{{phone}}</p></li>
                  <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span>{{email}}</p></li>
                  <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span>{{city}}, {{state}}</p></li>
                  <li><p><span class="glyphicon glyphicon-new-window one" style="width:50px;"></span><a href="https://instagram.com/{{instagram}}">@{{instagram}}</p></a>
                  <a href="/editprofile"><button type="button" name="button">Update Profile</button></a>
                </ul>
              </div>
            </div>
          </div>

          <hr class="featurette-divider">

          <!-- /END THE FEATURETTES -->


          <!-- FOOTER -->
          <div class="socialicondiv" align="center">
            <a href="https://www.instagram.com/msemgray/">
              <img class="socialicons" src="{% static 'modeling/img/instagram_icon.png' %}" alt="Instagram Icon">
            </a>
            <img class="socialicons" src="{% static 'modeling/img/thehub_icon.png' %}" alt="The Hub Icon">
            <a href="https://www.linkedin.com/in/emily-gray-028173146/ ">
              <img class="socialicons" src="{% static 'modeling/img/linkedin_icon.png' %}" alt="LinkedIn Icon">
            </a>
          </div>

          <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2016 Em Gray Media. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>

        </div><!-- /.container -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{% static 'modeling/js/bootstrap.min.js' %}"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="{% static 'modeling/js/holder.min.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'modeling/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
