<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link href="{% static 'modeling/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
    <link href="{% static 'modeling/css/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'modeling/img/favicon.ico'%}" type="image/x-icon">
    <title>Em Gray Media</title>
  </head>
  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Em Gray Media</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/about">Who Am I?</a></li>
                    <li><a href="/about#being_body_positive">Being Body Positive</a></li>
                    <li><a href="/about#my_camera">My Camera</a></li>
                    <li><a href="/about#editing_photos">Editing Photos</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Modeling</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="/modeling">View All →</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Collaborations</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                    <li><a href="/collaborations">View All →</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Photography</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                    <li><a href="/photography">View All →</a></li>
                  </ul>
                </li>
                <li class="active"><a href="/book">Book Now</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/account">Account</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">
          <br><br><br>
          <h1 class = "section-header">Current Bookings:</h1>
            <h1>Bookings Are Currently Offline, Please Email <a href="mailto:contact@emgraymedia.gq">contact@emgraymedia.gq</a> to Book a Shoot</h1>
          <div class="row">

          </div><!-- /.row -->

          <hr class="featurette-divider">

          <h1 class = "section-header">Photography Packages:</h1>
          <div class="row">
            <div class="col-lg-4 package">
              <img class="img-circle" src="http://bit.ly/2uQbeeG" alt="Generic placeholder image" width="240" height="240">
              <h2>Custom Shoots</h2>
              <p>Need Pictures? Already Have an Idea In Mind?</p>
              <p>Design Your Own Shoot! Choose a Location, Style, and More!</p>
              <p><strong>Packages Start at $40 per Hour</strong></p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 package centerpack">
              <img class="img-circle" src="http://bit.ly/2x2NlBk" alt="Generic placeholder image" width="240" height="240">
              <h2>Senior Photos / Graduation Photos</h2>
              <p>Celebrate Your Accomplishments with Photos to Last a Lifetime!</p>
              <p>Many styles are offered from Classic to a Personalized Style.</p>
              <p><strong>Packages Start at $60 per Hour</strong></p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 package">
              <img class="img-circle" src="http://bit.ly/2v0Y6mk" alt="Generic placeholder image" width="240" height="240">
              <h2>Events</h2>
              <p>Need a Photographer to Capture a Special Event?</p>
              <p>Let Me Help You Preserve Those Memories for Many Years to Come!</p>
              <p><strong>Packages Start at $75 per Hour</strong></p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-lg-4 package">
              <!-- <img class="img-circle" src="http://bit.ly/2uQbeeG" alt="Generic placeholder image" width="240" height="240">
              <h2>Custom Shoots</h2>
              <p>Need Pictures? Already Have an Idea In Mind?</p>
              <p>Design Your Own Shoot! Choose a Location, Style, and More!</p>
              <p><strong>Packages Start at $40 per Hour</strong></p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 package centerpack">
              <img class="img-circle" src="http://bit.ly/2fVUiAZ" alt="Generic placeholder image" width="240" height="240">
              <h2>Group Photo Shoot (2+ People)</h2>
              <p>Have a Group of Friends that You Want to Take Photos With?</p>
              <p>Many styles are offered from Classic to a Personalized Style.</p>
              <p><strong>Packages Start at $30 per Person per Hour</strong></p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 package">
              <!-- <img class="img-circle" src="http://bit.ly/2v0Y6mk" alt="Generic placeholder image" width="240" height="240">
              <h2>Events</h2>
              <p>Need a Photographer to Capture a Special Event?</p>
              <p>Let Me Help You Preserve Those Memories for Many Years to Come!</p>
              <p><strong>Packages Start at $75 per Hour</strong></p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->


          <!-- FOOTER -->
          <div class="socialicondiv" align="center">
            <a href="https://www.instagram.com/msemgray/">
              <img class="socialicons" src="{% static 'modeling/img/instagram_icon.png' %}" alt="Instagram Icon">
            </a>
            <img class="socialicons" src="{% static 'modeling/img/thehub_icon.png' %}" alt="The Hub Icon">
            <a href="https://www.linkedin.com/in/emily-gray-028173146/ ">
              <img class="socialicons" src="{% static 'modeling/img/linkedin_icon.png' %}" alt="LinkedIn Icon">
            </a>
          </div>

          <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2016 Em Gray Media. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>

        </div><!-- /.container -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{% static 'modeling/js/bootstrap.min.js' %}"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="{% static 'modeling/js/holder.min.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'modeling/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
