<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link href="{% static 'modeling/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
    <link href="{% static 'modeling/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'modeling/css/details.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'modeling/img/favicon.ico'%}" type="image/x-icon">
    <title>Em Gray Media</title>
  </head>
  <body>
    <!-- NAVBAR
    ================================================== -->
        <div class="navbar-wrapper">
          <div class="container">

            <nav class="navbar navbar-inverse navbar-static-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Em Gray Media</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown active">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/about">Who Am I?</a></li>
                        <li><a href="/about#being_body_positive">Being Body Positive</a></li>
                        <li><a href="/about#my_camera">My Camera</a></li>
                        <li><a href="/about#editing_photos">Editing Photos</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-header">Modeling</li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="/modeling">View All →</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Collaborations</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                        <li><a href="/collaborations">View All →</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Photography</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                        <li><a href="/photography">View All →</a></li>
                      </ul>
                    </li>
                    <li><a href="/book">Book Now</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/account">Account</a></li>
                  </ul>
                </div>
              </div>
            </nav>

          </div>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <br><br><br><br>
    <div class="content-wrapper">
		<div class="item-container">
			<div class="container">
				<div class="col-md-6">
					<div class="product col-md-12 service-image-left">
						<center>
							<img id="item-display" src="https://emgraymedia.s3.amazonaws.com/media/{{package.package_photo}}" alt="" height="320px" width="auto"></img>
						</center>
					</div>
				</div>

				<div class="col-md-6">
					<div class="product-title"><h1>{{package.package_title}}</h1></div>
					<div class="product-desc"><h4>{{package.package_quote_1}} <br><br> {{package.package_quote_2}}</h4></div>
					<!-- <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div> -->
					<hr>
					<div class="product-price">{{package.package_cost}}</div>
					<div class="product-stock">Package Currently Availible</div>
					<hr>
					<div class="btn-group cart">
						<a href="/book"><button type="button" class="btn btn-success">
							Book Now
						</button></a>
					</div>
					<div class="btn-group wishlist">
						<button type="button" class="btn btn-danger">
							Add to wishlist
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="col-md-12 product-info">
					<ul id="myTab" class="nav nav-tabs nav_tabs">

						<li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
						<li><a href="#service-two" data-toggle="tab">WHAT'S INCLUDED</a></li>
						<li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>

					</ul>
				<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="service-one">

							<section class="container product-info">
								{{package.package_description}}
							</section>

						</div>
					<div class="tab-pane fade" id="service-two">

						<section class="container product-info">
              {{package.package_inclusions}}
						</section>

					</div>
					<div class="tab-pane fade" id="service-three">

					</div>
				</div>
				<hr>
			</div>
		</div>


          <hr class="featurette-divider">

          <!-- /END THE FEATURETTES-->


          <!-- FOOTER -->
          <div class="socialicondiv" align="center">
            <a href="https://www.instagram.com/msemgray/">
              <img class="socialicons" src="{% static 'modeling/img/instagram_icon.png' %}" alt="Instagram Icon">
            </a>
            <img class="socialicons" src="{% static 'modeling/img/thehub_icon.png' %}" alt="The Hub Icon">
            <a href="https://www.linkedin.com/in/emily-gray-028173146/ ">
              <img class="socialicons" src="{% static 'modeling/img/linkedin_icon.png' %}" alt="LinkedIn Icon">
            </a>
          </div>

          <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2016 Em Gray Media. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
          </footer>

        </div><!-- /.container -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{% static 'modeling/js/bootstrap.min.js' %}"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="{% static 'modeling/js/holder.min.js' %}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'modeling/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
